<a class="sidebar-link {% if request.endpoint == 'main.overview_dashboard' %}active{% endif %}" href="{{ url_for('main.overview_dashboard') }}">Dashboard</a>
{% if database_enabled|default(false) %}
<a class="sidebar-link {% if request.endpoint in ('main.live_outlier_results', 'main.live_outlier_result_detail') %}active{% endif %}" href="{{ url_for('main.live_outlier_results') }}">Live Outlier detection</a>
{% endif %}
<a class="sidebar-link {% if active_tab|default('') == 'part16' or request.endpoint == 'main.part16_multimodel_outlier_detection' %}active{% endif %}" href="{{ url_for('main.index', tab='part16') }}">Multimodel Outlier Detection</a>
{% if database_enabled|default(false) %}
<a class="sidebar-link {% if request.endpoint == 'main.dataset_upload_page' %}active{% endif %}" href="{{ url_for('main.dataset_upload_page') }}">Upload data</a>
<a class="sidebar-link {% if request.endpoint == 'main.outlier_excel_upload_page' %}active{% endif %}" href="{{ url_for('main.outlier_excel_upload_page') }}">Live outlier data upload</a>
{% endif %}
{% include 'partials/sidebar_nav_plant_analysis.html' %}
